        @font-face {
            font-family: Lexenda;
            src: url(LexendDeca-Regular.ttf);
        }
        
        @font-face {
            font-family: Bold-BigShouldersDisplay;
            src: url(Big_Shoulders_Display/BigShouldersDisplay-Bold.ttf);
        }
        
        body {
            background-color: rgb(230, 228, 228);
            margin: 0;
            padding: 0px;
            box-sizing: border-box;
        }
        
        .container {
            background-color: hsla(0, 0%, 100%, 0.75%);
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            /* padding: 50px 40px 20px 30px; */
        }
        
        .title {
            color: white;
            /* font-size: 30%; */
            margin-bottom: 20px;
            text-align: left;
            text-transform: uppercase;
            font-family: Bold-BigShouldersDisplay;
            font-weight: 700px;
        }
        
        img {
            height: 50px;
            width: 50px;
        }
        
        p {
            color: white;
            margin-bottom: 30px;
            text-align: left;
            font-size: 15px;
            font-family: Lexenda;
            font-weight: 400px;
        }
        
        .dark-cyan {
            background-color: hsl(184, 100%, 22%);
        }
        
        .yellowish {
            background-color: hsl(31, 77%, 52%);
        }
        
        .very-dark-cyan {
            background-color: hsl(179, 100%, 13%);
        }
        
        .left-border {
            border-radius: 6px 0 0 6px;
        }
        
        .right-border {
            border-radius: 0px 6 6 0px;
        }
        
        .column {
            flex-direction: column;
            /* justify-content: end; */
            display: flex;
            height: 45%;
            width: 17%;
            padding: 5% 2%;
            margin-bottom: 30px;
        }
        
        #btn {
            /* margin: auto;
position: relative; */
            margin-top: auto;
            width: 100px;
            color: hsl(33, 77%, 52%);
            border-radius: 70px;
            border: none;
            background-color: hsl(0, 0%, 95%);
            cursor: pointer;
            padding: 10px;
            font-size: 15px;
        }
        
        #btn:hover {
            background-color: hsl(0, 0%, 88%);
        }